.conteudo__principal-materia {
    display: flex;
    flex-direction: column;
}

.conteudo__principal-materia img {
    width: 100%;
}

.conteudo__principal-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.conteudo__principal-titulo {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .5rem;
}

.conteudo__principal-texto {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: .5rem;
    text-align: justify;
}

.conteudo__principal-lerMais {
    border: 1px solid rgb(247, 93, 75);
    background-color: salmon;
    font-size: 1rem;
    font-weight: 400;
    color: var(--branco);
    text-transform: uppercase;
    margin-top: 1rem;
    padding: .5rem 3rem;
    margin-bottom: 2rem;
}

.conteudo__destaques {
    border: 1px solid rgb(8, 8, 51);
    padding: 2rem;
    margin: 2.5rem 0;
    background-color: rgb(3, 3, 66);
    color: var(--branco);
}

.conteudo__destaques-titulo {
    padding: .5rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(187, 187, 47);
}

.conteudo__destaques-subtitulo {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.conteudo__destaques-texto {
    font-size: 1rem;
    text-align: justify;
}

.conteudo__destaques hr {
    margin: 1.5rem 0;
}


@media screen and (min-width: 1440px) {

    .conteudo__principal {
        margin-top: 3rem;
        display: flex;
        gap: 1rem;
    }

    .conteudo__principal-materia img {
        width: 100%;
    }

    .conteudo__principal-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row: auto auto;
    }
    
    .conteudo__principal-titulo {
        font-size: 3.5rem;
        padding-right: 2em;
        grid-area: 1/1/3/2;
    }


    .conteudo__destaques {
        margin: 0 0 2.5rem 0;
    }
}
