.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0;
}

.cabecalho__container{
    
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../images/icon-menu-close.svg);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 60vw;
    
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    height: 100%;
}

@media screen and (min-width: 1440px) {


    /* .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }
    
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    } */

}