:root {
    --branco: #ffffff;
    --cinza-principal: #3a404e;
    --cinza-secundario: #667085;
    --cinza-escuro: #101828;
    --vermelho-escuro: #8E2424;
    --preto: #000000;
    --cor-de-fundo: rgba(142, 36, 36, 0.05);
    --cor-borda: #eaecf0;
}

body {
    font-family: "Inter";
    font-size: 16px;
}

.navbar {
    background-color: var(--branco);
    display: flex;
    justify-content: space-around;
    padding: 1em 4em;
    
}

.navbar__titulo {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-principal);
    
}

.navbar__titulo img {
    padding-right: 0.5em;
}

.navbar__lista, .navbar__opcoes {
    display: flex;
}

.navbar__lista {
    align-items: center;
    padding-left: -50em;
}

.navbar__lista-link {
    padding-left: 2em;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza-secundario);

}

.navbar__opcoes {
    align-items: center;
}

.navbar__opcoes-login {
    padding-right: 2em;
}

.navbar__opcoes-botao {
    padding: 1em 1em;
    font-weight: 500;
    background: var(--vermelho-escuro);
    border-radius: 10px;
    color: var(--branco);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 407px;
}

.cabecalho__titulo {
    font-weight: 600;
    color: var(--vermelho-escuro);
}

.cabecalho__texto {
    font-size: 48px;
    font-weight: 600;
    padding: 1em 0;
    color: var(--cinza-escuro);
}

.cabecalho__descricao {
    padding: 0 26vw;
    text-align: center;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.metricas {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    width: 100%;
    height: 288px;
}

.metricas__lista {
    display: flex;
    justify-content: space-around;
    margin: 0 10vw;
}

.metricas__item {
    width: 280px;
    height: 72px;
}

.metricas__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-escuro);
}

.metricas__texto {
    font-size: 18px;
    font-weight: 500;
    padding: 2em 0;
    color: var(--cinza-escuro);
}

.metricas__descricao {
    font-weight: 400;
    color: var(--cinza-secundario);
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
}

.vagas__conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.vagas__conteudo-titulo {
    font-size: 14px;
    font-weight: 500;
    color: var(--vermelho-escuro);
    background-color: var(--cor-de-fundo);
    border-radius: 16px;
    padding: 0.5em 1em;
    margin: auto;
}

.vagas__conteudo-texto {
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-escuro);
    padding: 1em 0;
}

.vagas__conteudo-descricao {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-secundario);
    padding-bottom: 3em;
}

.vagas__descricao {
    padding: 5em 3em;
    width: 60%;
}

.vagas__descricao-area {
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin-bottom: 1em;
    margin-top: 1em;
}

.vagas__lista {
    padding: 1em 0;
}

.vagas__lista-titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-escuro);
    padding-bottom: 2em;
}

.vagas__lista-item {
    padding: 2em 2em;
    border: 1px solid var(--cor-borda);
    border-radius: 16px;
}

.vagas__lista-valores {
    display: flex;
    justify-content: start
}

.vagas__lista-descricao{
    padding-right: 2em;
    font-weight: 500;
    color: var(--cinza-secundario);
}

.depoimentos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.depoimentos__card {
    text-align: center;
    width: 80%;
    background: var(--cor-de-fundo);
    margin-bottom: 5em;
}

.depoimentos__texto {
    
}

.depoimentos__titulo {
    padding: 64px 64px 1em 64px;
    font-size: 14;
    font-weight: 600;
    color: var(--vermelho-escuro);
}

.depoimentos__descricao {
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza-escuro);
    text-align: center;
    padding-bottom: 1em;
}
